{% extends 'base.html.twig' %}

{% block contactList %}
    <div class="col-md-12">
        <ul class="list-group" style="margin-top: 10px">
            <li class="list-group-item list-group-item-success"><p class="text-center">YOUR CONTACT LIST</p></li>
            {% if datas %}
                {% for data in datas %}
                    <li class="list-group-item"><a href="{{ path('show_info', { 'id': data.id }) }}"><p class="text-center">{{ data.contact }}</p></a></li>
                {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert" style="margin-top: 10px"><p class="text-center">You don't have any contact</p></div>
            {% endif %}
        </ul>
        <button type="button" class="center-block btn"><a href="{{ path('new_contact') }}">ADD A NEW CONTACT</a></button>
    </div>
{% endblock %}