{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-warning" role="alert" style="margin-top: 10px"><p class="text-center">Contact has been correctly removed !</p></div>
{% endblock %}